.card{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(0, 255, 13);
}
.card h1{
    position: absolute;
    margin-left: 180px;
    margin-top: 50px;
    font-size: 4rem;
}
.card button{
    margin-left: 10px;
    margin-top: 200px;
    width: 120px;
    height: 30px;
    cursor: pointer;
}
.card .increment{
    background-color: peru;
}
.card .decrement{
    background-color: violet;
}
.card .reset{
    background-color: red;
    color: white;
}
h1{
    text-align: center;
}
